@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1f1f1f;
  background-image: url("../public/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}